@import url("https://fonts.googleapis.com/css?family=Orbitron");

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App button {
  margin-top: 15px;
  font-size: 15px;
}


.App h1 {
  font-family: 'Orbitron';
  color: black;
  background-color: white;
  border: 12px solid black;
  border-radius: 12px;
  padding: 10px;
}

.App h2 {
  font-family: 'Orbitron';
  border-radius: 4px;
  padding: 5px;
}

.App h2#Intro {
  background-color: black;
  border-radius: 12px;
  color: white;
  padding: 10px;
}

.App p {
  font-family: 'Orbitron'
}

.App button#SetTimer {
  font-family: 'Orbitron';
  font-weight: bold;
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.App button#StartTimer { 
  font-family: 'Orbitron';
  font-weight: bold;
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.App button#StopTimer {
  font-family: 'Orbitron';
  font-weight: bold;
  background-color: #d9534f;
  border-color: #d43f3a;
  color: white;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.App button#ResetTimer {
  font-family: 'Orbitron';
  font-weight: bold;
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #fff;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}
